html,body {
    height:100%;
    font-size:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: #3c2e60 !important;
    position: relative;
}
a:hover {
    color: #bbcc27:
}
ul.nav-bar li a {
    text-transform: uppercase;
    display:block;
}

.boxed:not(.active) {
    background: #fff;
}

.active.boxed {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    padding: 0px;
    min-height: 100%;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    background: #fff;
    color: #4A4A4A;
}

/* Reset default bootstrap grid settings
---------------------------------- */

/* add this class to column if you want to change default bootstrap grid padding */
.col-30-gutter{
    padding-left: 30px;
    padding-right: 30px;
}
/* if you changed default bootstrap grid padding with col-10-gutter, you must add this class to row containing these columns */
.row-30-gutter{
    margin-left: -30px;
    margin-right: -30px;
}

.col-0-gutter{
    padding-left: 0px;
    padding-right: 0px;
}

.row-0-gutter{
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------
2. Header
--------------------*/

.header {
    text-align: center;
    padding: 25px 0;
    margin-bottom:2%;
}
div.container-logo {
    display:flex;
    justify-content: space-evenly;
}
div.container-banner {
    display:flex;
    justify-content: space-around;
}
.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 390px;
}

@media (max-width: 1200px) {
    .logo {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        float: left;
    }
}

/****************************************** STYLE HEADER *****************/

/** STYLE NAV BAR HEADER **/ 

div.header-container {
    margin-top:2%;
}
div.violet-bar {
    height:25px;
    background-color:#3c2e60;
}
p.connexion-text {
    color:white;
    font-weight: 600;
    text-align:end;
    margin-right:10px;
}
div.logo {
    margin-top:auto;
}
ul.nav-bar {
    list-style: none;
    display:flex;
    justify-content: space-around;
    font-weight: 600;
    padding-left:0px !important;
    width:max-content;
}
ul.nav-bar > li > a {
    border: 2px solid #bbcc27;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin : 20px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
}
ul.nav-bar > li > a:hover {
    border: 2px solid #bbcc27;
    background-color: #bbcc27;
    transition-duration: 0.5s;
}

.carrousel-item {
    overflow: hidden!important;
}
/** Error 404 **/

.error404 {
    font-size: 8rem;
    color: #3c2e60;
}

.page404 {
    padding:2rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/** BLOC CONNEXION **/

body.index .bloc-connexion {
    /** border: 3px solid #3c2e60; **/
    background-color: #3c2e60;
    color:white;
    border-radius:5px;
}
body.index .bloc-connexion p.message-de-bienvenue {
    font-size:18px;
    padding:5px;
    margin-top:16px;
}
body.index .bloc-connexion input {
    border-bottom: 1px solid #bbcc27!important;
    margin: 10px 0px!important;
    border:none;
    background-color:#3c2e60;
    border-radius:0px!important;
}
body.index .bloc-connexion input:focus {
    outline-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body.index .bloc-connexion button {
    background-color: #bbcc27;
    color: #3c2e60;
    -webkit-transition: all 0.30s ease-in-out;
}
body.index div.bloc-connexion form {
    margin-top:20px;
    text-align:center;
}
body.index div.bloc-connexion form label {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}

.bloc-connexion a {
    color:white!important;
    text-decoration: underline!important;
}
/** LOADER **/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.redirection {
    display:flex;
    justify-content: center;
}

/** footer **/
footer {
    margin-top:2% !important;
}

/** ========= **/

ul.nav > li > a {
    color:#3c2e60 !important;
}
/** Style Blocs accueil **/
div.container-des-blocs {
    margin-top:2%;
    margin-bottom:2%;
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
}
div.container-des-blocs a {
    width:33%;
}
div.container-des-blocs div.bloc-formation a {
    text-align:center;
    margin:10px;
    border: 2px solid #3c2e60;
    padding:10px 20px;
    border-radius:5px;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    width:90%;
}
/**
div.container-des-blocs div.bloc-formation a {
}**/
div.container-des-blocs div.bloc-formation a:hover {
    background-color: #3c2e60;
    transition-duration: 0.5s;
    -webkit-transition: all 0.30s ease-in-out;
}
div.container-des-blocs div.bloc-formation a:hover {
    color:#fff !important;
    -webkit-transition: all 0.30s ease-in-out;
}
div.bloc-formation p.texte-bloc-formation {

}
/** ATTENTION, .col fait parti de Boostrap, on est pas sensé y toucher, modifier le ciblage
.col {
  margin: 5px 10px;
  width: 200px;
  height: auto;
} **/

/** ATTENTION, rien n'est ciblé. @media sert au responsive, mais les boutons ne sont pas ciblés
@media only screen and (max-width: 480px) {
     width: 300px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
      width: 400px;
      float: left;
      margin: 10px 20px; 
 }
@media screen and (min-width: 769px) {
    width: 600px;
}
**/

/** Modifs Carrousel **/

body.index div#carouselExampleIndicators {
    width: 650px;
}
body.index div.carousel-inner {
    border-radius:10px;
}


/** Bandeau en haut de page **/

div.bandeau {

    border: 2px solid #bbcc27;
    border-radius: 5px;
    margin-bottom:2%;
}
div.bandeau-formations h1 {
    padding:10px;
    padding-left:20px;
}   
div.bandeau h1 {
    padding:5px;
    padding-left:15px;
}
/** Modifs page formations **/
div.container-des-carres {
    display:flex;
    flex-wrap:wrap;
}
div.container-des-carres div.structure-du-carre {
    border: 2px solid #3c2e60;
    border-radius: 5px;
    width:32%;
    margin:5px;
}
div.container-des-carres div.structure-du-carre h4 {
    text-align:center;
    padding:5px;
    background-color: #3c2e60;
    color: #fff;
}
div.description-de-la-formation {
    padding:20px;
}
/** Style footer **/
footer {
    margin-top:20px;
}
div.container-des-carres div.structure-du-carre div.description-de-la-formation {
    padding:10px;
}
/***** PAGE CONTACT *****/

body.contact div.formulaire-contact {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-align:center;
    max-width:70%;
    padding:16px;
    background: #F7F7F7;
    font: 95% Arial, Helvetica, sans-serif;
}
body.contact div.formulaire-contact p {
    font-size:1.3rem;
    color:#414141;
    font-weight:500;
}
body.contact div.formulaire-contact p label {
    display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:700;
}
body.contact div.formulaire-contact input,
body.contact div.formulaire-contact textarea {
    -webkit-transition: all 0.30s ease-in-out;
    outline:none;
    -webkit-box-sizing: border-box;
    width:100%;
    background: #fff;
    margin-bottom:2%;
    border: 1px solid #ccc;
    padding:3%;
    color: #555;
}
body.contact div.formulaire-contact input.bouton-submit:hover {
    background-color:#3c2e60;
    color:#fff;
    -webkit-transition: all 0.30s ease-in-out;
}

/** Partenaire Hover mettre container juste en bas  **/
.lesPartenaires {
    display: flex;
    flex-wrap: wrap;
}
body.partenaires .containerPartenaire {
    position: relative;
    width: 50%;
}
body.partenaires .logoPartenaire {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 15px;
}
body.partenaires .hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
body.partenaires .containerPartenaire:hover .logoPartenaire {
  opacity: 0.3;
}
body.partenaires .containerPartenaire:hover .hover {
  opacity: 1;
}
body.partenaires .text {
  color:black;
  font-size: 16px;
}

/*********** Style barre de recherche **********/

div.barre-de-recherche {
    margin-top:auto;
    width:33%;
}
form.barre-de-recherche input.champ-de-recherche {
    background-color: #ffffff;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color:#3c2e60 !important;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
    box-sizing: border-box;   /* Important */
    font-size: 14px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
    font-weight: 700;
    border-radius:5px;
}
form.barre-de-recherche input.bouton-rechercher {
    background-color: #3c2e60;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 2px;   /* Epaisseur de la bordure  */
    border-color: #3c2e60;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 98.5%;   /* Permet d'ajuster la largeur du bouton à 100% */
    box-sizing: border-box;   /* Important */
    font-size: 13px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 2px;   /* Espacement des caractères */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: #ffffff;   /* Couleur du texte */
    border-radius:5px;
}
form.barre-de-recherche input.bouton-rechercher:hover {
    background-color: #fff;
    border-color: #3c2e60;
    color: #3c2e60;
    -webkit-transition: all ease-in-out 0.3s;
    cursor: pointer;
}

/****** Temoignage front page d'accueil *************/

div.temoignage-du-mois {
    margin-top:25px;
    border: 1px solid #bbcc27;
    border-radius:5px;
}
div.temoignage-du-mois span.titre-temoignage-front {
    position:absolute;
    top:0px;
    left:15px;
    display:block;
    height:61px;
    color: #fff;
    line-height:61px;
    padding-left: 70px;
    padding-right: 15px;
    font-size:16px;
    font-weight:700;
    border-radius:5px;
}
div.temoignage-du-mois span.titre-temoignage-front {
    background: #bbcc27 url('../image/picto/picto_temoignage.svg') 0 0 no-repeat;
}
div.contenu-temoignage {
    padding:10px;
}
div.bloc-droite {
    float:right;
    margin-bottom: 20px;
}
div.bloc-droite span.titre-temoignage-front {
    top:25px;
}
div.bloc-sous-slider {
    overflow:hidden;
}