html,body {
    height:100%;
    font-size:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    color: #47195e !important;
    position: relative;
}

.boxed:not(.active) {
    background: #fff;
}

.active.boxed {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    padding: 0px;
    min-height: 100%;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    background: #fff;
    color: #4A4A4A;
}

/* Reset default bootstrap grid settings
---------------------------------- */

/* add this class to column if you want to change default bootstrap grid padding */
.col-30-gutter{
    padding-left: 30px;
    padding-right: 30px;
}
/* if you changed default bootstrap grid padding with col-10-gutter, you must add this class to row containing these columns */
.row-30-gutter{
    margin-left: -30px;
    margin-right: -30px;
}

.col-0-gutter{
    padding-left: 0px;
    padding-right: 0px;
}

.row-0-gutter{
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------
2. Header
--------------------*/

.header {
    text-align: center;
    padding: 25px 0;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 390px;
}

@media (max-width: 1200px) {
    .logo {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        float: left;
    }
}

/****************************************** STYLE HEADER *****************/

/** STYLE NAV BAR HEADER **/ 
header {
    margin-bottom:20px;
}
div.header-container {
    margin-top:2%;
}
div.violet-bar {
    height:25px;
    background-color:#47195e;
}
p.connexion-text {
    color:white;
    font-weight: 600;
    text-align:end;
    margin-right:10px;
}
div.logo {
    margin-top:auto;
}
ul.nav-bar {
    list-style: none;
    display:flex;
    justify-content: space-around;
    font-weight: 600;
}
ul.nav-bar > li > a {
    border: 2px solid #a8df2e;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin : 20px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
}
ul.nav-bar > li > a:hover {
    border: 2px solid #68b51f;
    background-color: #a8df2e;
}

/** footer **/
ul.nav > li > a {
    color:#47195e !important;
}
/** Style page carte **/

main div.container {
    margin-top:25px;
}

/** Style page formations **/
div.bandeau-formations {
    border: 2px solid #68b51f;
    border-radius: 5px;
}
div.bandeau-formations h1 {
    padding:10px;
    padding-left:20px;
}
div.container-des-carres {
    display:flex;
}
div.structure-du-carre {
    border: 1px solid black;
    margin:10px;
    border-radius:5px;
}
h4.titre-de-la-formation {
    text-align:center;
    background-color: #47195e;
    color:white;
    padding: 10px;
}
div.description-de-la-formation {
    padding:20px;
}

/****************************************** STYLE Carousel *****************/

#carouselExampleIndicators {
  width: 60%;
  height : 30%;
  margin-left: 50px;
  margin-top: 30px;
}

#image {
  height: 100%;
  width: 100%;
}

/** Style footer **/
footer {
    margin-top:20px;
}